<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Page"/>
<f:section name="section_content">
	<main>
		<div id="top-home">
			<div id="slideshow-home">
				<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '100'}" />
			</div>
			<div id="slideshow-travel">
				<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '101'}" />
				<div class="slide-number"><span class="number">1/4</span><span class="line"><span class="current-line"></span></span></div>
			</div>
		</div>
		<div id="wrap-content">
			<div id="filter-home">
				<div class="content">
					<div class="content-inner">
						<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '102'}" />
					</div>
				</div>
			</div>
			<div class="content-inner">
				<section id="section1" class="block-home">
					<article>
						<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '103'}" />
					</article>
				</section>
				<section id="section2" class="block-home">
					<article>
						<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '104'}" />
					</article>
				</section>
			</div>
			<section id="section3" class="block-home">
				<article>
					<div class="content-inner">
						<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '105'}" />
					</div>
				</article>
			</section>
			<div class="content-inner">
				<section id="section4" class="block-home">
					<article>
						<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '106'}" />
					</article>
				</section>
				<section id="section5" class="block-home">
					<article>
						<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{homepage}', colPos: '107'}" />
					</article>
				</section>
			</div>
		</div>
	</main>

</f:section>
</html>
