<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Page"/>

<f:section name="section_content">
	<main>
		<div id="headband">
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '1'}" />
		</div>
		<div id="wrap-content">
			<div class="wrap-center">
				<section id="main-wrap">
					<article>
						<div class="content-inner">
							<div id="breadcrumb">
								<f:render partial="Breadcrumb" arguments="{_all}" />
							</div>
							<div id="main-content">
								<div id="main-title">
									<h1><f:format.raw>{pageTitle}</f:format.raw></h1>
								</div>	
								<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}" />
							</div>
						</div>
					</article>
				</section>
			</div>
			<div class="content-inner">
				<section id="section5" class="block-home">
					<article>
						<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{homepage}', colPos: '107'}" />
					</article>
				</section>
			</div>
		</div>
	</main>

</f:section>

</html>
