<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">

    <f:flashMessages />

    <f:comment>
        <f:if condition="show_select_form = 1">
            <f:render partial="Form/SelectForm" arguments="{_all}" />
        </f:if>
    </f:comment>

    <f:if condition="show_auth_form = 1">
        <f:render partial="Form/AuthForm" arguments="{_all}" />
    </f:if>

    <f:if condition="{0:show_profile} == {0: NULL}'">
        <f:then></f:then>
        <f:else>
            <f:render partial="Form/Profile" arguments="{_all}" />
        </f:else>
    </f:if>

    <f:if condition="show_databaze = 1">
        <div class="row">
            <div class="col-md-4">
                <f:render partial="Chapter/Menu" arguments="{_all}" />
            </div>
            <div class="col-md-8">
                <f:render partial="Chapter/Content" arguments="{_all}" />
            </div>
        </div>
        <f:render partial="Form/Script" arguments="{_all}" />
    </f:if>

    <f:link.action action="logout" controller="Chapter"><f:translate key="tx_infobaza.logout" /></f:link.action>

</f:section>
</html>
