<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <f:if condition="{showAuthForm} = true">
        <div class="header-title">
            <div class="header-logo">
                <f:image src="EXT:tmpl/Resources/Public/images/logo2.png" />
                <h3>Справочник Автовладельца</h3>
            </div>
        </div>
        <f:if condition="{error} = true">
            <div class="alert alert-danger" role="alert">
                Предоставленные данные не корректны! Свяжитесь с представителем Вашего сертификата для получения технической консультации
            </div>
        </f:if>
        <f:render partial="Form/AuthForm" arguments="{_all}" />
    </f:if>

    <f:if condition="{showDatabase} = true">
        <f:render partial="Form/Profile" arguments="{_all}" />
        <div class="row">
            <div class="col-md-3">
                <f:render partial="Chapter/Menu" arguments="{_all}" />
            </div>
            <div class="col-md-9">
                <f:render partial="Chapter/Content" arguments="{_all}" />
            </div>
        </div>
        <f:render partial="Form/Script" arguments="{_all}" />
    </f:if>
</f:section>
</html>