<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="title">
	<f:translate key="tx_infobaza_domain_model_chapter.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" id="title" /><br />
<label for="bodytext">
	<f:translate key="tx_infobaza_domain_model_chapter.bodytext" />
</label><br />
	<f:form.textarea property="bodytext" id="bodytext" cols="40" rows="15" /><br />
<label for="file">
	<f:translate key="tx_infobaza_domain_model_chapter.file" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />
</html>