<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-infobaza">
	<tr>
		<td><f:translate key="tx_infobaza_domain_model_chapter.title" /></td>
		<td>{chapter.title}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_infobaza_domain_model_chapter.bodytext" /></td>
		<td>{chapter.bodytext}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_infobaza_domain_model_chapter.file" /></td>
		<td>
				<a href="{chapter.file.originalResource.publicUrl}">
					{chapter.file.originalResource.name}
				</a>
			</td>
	</tr>
</table>
</html>
