@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.main {
    width: 85%;
    float: right;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: #6c6565;
}

.hr {
    border-bottom: 1px solid #f0f0f0;
}

.logo {
    text-align: center;
}

.logo img {
    width: 80%;
    height: auto;
    margin-bottom: 30px;
}

.page {
    width: 100%;
    overflow: hidden;
    position: relative;

    padding: 20px;
}
#fh5co-aside {
    background: #61a3b4;
    color: #fff;
}
#fh5co-aside p,
#fh5co-aside a {
    color: #fff;
}

.btn-primary {
    background: #61a3b4;
    color: #fff;
    border: 2px solid #61a3b4;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #8daeb7 !important;
    border-color: #8daeb7 !important;
}

#fh5co-aside #fh5co-main-menu ul li.fh5co-active a,
#fh5co-aside #fh5co-main-menu ul li a:hover {
    color: #fff;
}
small, .small {
    font-size: 90%;
    font-weight: 400;
}

h1 {
    color: #61a3b4;
    font-size: 42px;
    font-weight: normal;
}
h2 {
    font-size: 34px;
    color: #6c6565;
    font-weight: normal;
}
h3, h4 {
    font-size: 28px;
    color: #6c6565;
}
h5.card-header {
    color: #d47d1a;
    text-align: center;
}
a, a:hover, a:hover, a:active, a:focus {
    color: #61a3b4;
}
a:hover, a:hover, a:active, a:focus {
    text-decoration: underline;
}

.cutom-btn a {
    color: #fff;
}
.auth-form {

}
.typo3-messages {
    width: 90%;
    margin-left: 20px;
    font-size: 16px;
}
.typo3-messages li {
    list-style: none;
    padding: 10px 10px 0 10px !important;
}

/*
#fh5co-aside {
    display: none !important;
}*/
