.main {
    width: 85%;
    float: right;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: #6c6565;
}

.hr {
    border-bottom: 1px solid #f0f0f0;
}


.page {
    width: 100%;
    overflow: hidden;
    position: relative;

    padding: 20px;
}

h1 {
    color: #7ac143;
    font-size: 46px;
    font-weight: normal;
}
h2 {
    color: #a86060;
}
h5 {
    color: #9a6767;
    text-align: center;
}

.cutom-btn a {
    color: #fff;
}
.auth-form {

}
.typo3-messages {
    width: 90%;
    margin-left: 20px;
    font-size: 16px;
}
.typo3-messages li {
    list-style: none;
    padding: 10px 10px 0 10px !important;
}