@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-size:  17px;
    background: rgb(208,220,223);
    background: linear-gradient(90deg, rgba(208,220,223,1) 0%, rgba(255,255,255,1) 25%, rgba(239,248,250,1) 100%);
}

.main {
    width: 85%;
    float: right;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: #6c6565;
}

.hr {
    border-bottom: 1px solid #f0f0f0;
}

.logo {
    text-align: center;
}

.logo img {
    width: 80%;
    height: auto;
    margin-bottom: 30px;
}

.page {
    width: 100%;
    overflow: hidden;
    position: relative;

    padding: 20px;
}
#fh5co-aside {
    background: #61a3b4;
    color: #fff;
}
#fh5co-aside p,
#fh5co-aside a {
    color: #fff;
}

.btn-primary {
    background: #61a3b4;
    color: #fff;
    border: 2px solid #61a3b4;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #8daeb7 !important;
    border-color: #8daeb7 !important;
}

#fh5co-aside #fh5co-main-menu ul li.fh5co-active a,
#fh5co-aside #fh5co-main-menu ul li a:hover {
    color: #fff;
}
small, .small {
    font-size: 90%;
    font-weight: 400;
}

h1 {
    color: #61a3b4;
    font-size: 32px;
    font-weight: normal;
}
h2 {
    font-size: 24px;
    color: #6c6565;
    font-weight: normal;
}
h3, h4 {
    font-size: 22px;
    color: #6c6565;
}
h5.card-header {
    color: #d47d1a;
    text-align: center;
}
a, a:hover, a:hover, a:active, a:focus {
    color: #61a3b4;
}
a:hover, a:hover, a:active, a:focus {
    text-decoration: underline;
}

.cutom-btn a {
    color: #fff;
}
.auth-form {

}
.typo3-messages {
    width: 90%;
    margin-left: 20px;
    font-size: 16px;
}
.typo3-messages li {
    list-style: none;
    padding: 10px 10px 0 10px !important;
}

@media screen and (max-width: 768px) {
    #fh5co-aside {
        background: #61a3b4 !important;
        color: #fff;
    }
}

#fh5co-aside {
    overflow-y: hidden;
}

.ce-gallery .ce-column img {
    border-radius: 10px;
}

.card {
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    margin-bottom: 20px;
}
.card:hover {
    transform: scale(1.03);
    transition-property: transform;
    transition-duration: 500ms;

}

.auth-form {
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 40px;
    background: #fff;
    border-radius: 10px;

    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.tx-infobaza ol {
    font-size: 16px;

}
.tx-infobaza li {
    line-height: 26px;
}
.tx-infobaza li a {
    color: rgba(0,0,0,0.5);
}

.alert {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
}

/*
#fh5co-aside {
    display: none !important;
}*/

/*
@media screen and (max-width: 768px)
    #fh5co-aside {
        background: #61a3b4;
        color: #fff;
    }
}*/
