<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Contain:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Contain</h1>

    <f:flashMessages />

    <table class="tx_infobaza">
        <tr>
            <th><f:translate key="tx_infobaza_domain_model_contain.title" /></th>
            <th><f:translate key="tx_infobaza_domain_model_contain.bodytext" /></th>
            <th><f:translate key="tx_infobaza_domain_model_contain.file" /></th>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{contains}" as="contain">
            <tr>
                <td><f:link.action action="show" arguments="{contain : contain}">{contain.title}</f:link.action></td>
                <td><f:link.action action="show" arguments="{contain : contain}">{contain.bodytext}</f:link.action></td>
                <td><f:link.action action="show" arguments="{contain : contain}">{contain.file.originalResource.name}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{contain : contain}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{contain : contain}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Contain</f:link.action>
</f:section>
</html>
